
%h1 ニコニコ動画ダウンロードリスト

#new_nico_list
  = link_to '新規リスト追加', new_nico_list_path

%table#nico_list_table
  %thead
    %tr
      %th Url
      %th Download
      %th
      %th
  %tbody
    - @nico_lists.each do |nico_list|
      = form_for nico_list, :format => :json, :remote => true do |f|
        %tr{:id => "nico_list_#{nico_list.id}", :class => cycle("odd", "even")}
          %td= f.text_field :url, :class => "nico_list_url", :id => "nico_list_url_#{nico_list.id}", :size => 40
          %td= f.check_box :download, :class => "nico_list_download", :id => "nico_list_download_#{nico_list.id}"
          %td= submit_tag "Update"
          %td= link_to 'Destroy', nico_list, :confirm => 'Are you sure?', :method => :delete

%br


= javascript_include_tag 'jgrowl/jquery.jgrowl_compressed.js'
= stylesheet_link_tag 'jquery.jgrowl.css'
:javascript
  $(function() {
    $('.nico_list_download').change(function() {
      var id = $(this).attr('id').split('_').pop();
      $('#edit_nico_list_' + id).submit();
    });

    $('form.edit_nico_list').bind('ajax:success', function(evt, data, status, xhr) {
      $.gritter.add({
        title: "更新完了",
        text: "url: " + data.url + "<br>download: " + data.download,
        time: 5000
      });
    }).bind('ajax:error', function(evt, xhr, textStatus, thrown) {
      var error = $.parseJSON(xhr.responseText);
      for (var i in error) {
        $.gritter.add({
          title: "更新エラー",
          text: i + error[i],
          time: 5000
        });
      }
    });
  });
