
%h1 ニコニコ動画ダウンロードリスト

#new_nico_list_box
  = link_to '新規リスト追加', new_nico_list_path
= form_for @nico_list, :remote => true, :format => :js, :html => {:data => {:type => "text"}} do |f|
  %table#new_nico_list_table
    %thead
      %tr
        %th Url
        %th Download
        %th
    %tbody
      %tr
        %td= f.text_field :url, :size => 40
        %td= f.check_box :download
        %td= f.submit

%table#nico_list_table
  %thead
    %tr
      %th Url
      %th Download
      %th
      %th
  %tbody
    - @nico_lists.each do |nico_list|
      = render 'row', :nico_list => nico_list
