.user_form_box
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %p
      = f.label :name
      %br/
      = f.text_field :name
    %p
      = f.label :password
      %br/
      = f.password_field :password
    - if devise_mapping.rememberable?
      %p
        = f.check_box :remember_me
        = f.label :remember_me
    %p= f.submit "Sign in"
  = render :partial => "devise/shared/links"

%hr
%h2 このデバイスでログインしているユーザー
%ol
  - if @logined_users
    - @logined_users.each do |user|
      %li.user_list= link_to(user.nickname, switch_user_session_path(:id => user))

%br
= link_to("全員ログアウト", destroy_user_session_path, :confirm => "全員をログアウトしてもよろしいですか？")
