- pasokaras.each do |pasokara|
  %li.pasokara_file[pasokara]
    .title
      = image_tag("icon/music_48x48.png", :size => @icon_size, :class => "entity_icon")
      - if current_user
        = link_to(pasokara.name, queue_pasokara_path(pasokara), :remote => true, :confirm => "#{pasokara.name}を予約に追加しますか？", :class => "queue_link")
        = link_to("[プレビュー]", pasokara.preview_path, :class => "preview_link", :target => "_blank")
        %span.duration= pasokara.duration_str
        = link_to(image_tag("icon/star_off_48.png", :size => "24x24"), add_favorite_pasokara_path(pasokara), :remote => true, :confirm => "#{pasokara.name}を#{current_user.nickname}のお気に入りに追加しますか？", :class => "add_favorite")
      - else
        %span.title= pasokara.name
        %span.preview [プレビュー]

    %div{:id => "info-box-#{pasokara.id}", :class => "info_box"}
      %h3 タグ
      %div{:id => "tag-list-#{pasokara.id}", :class => "tag_list"}
        - pasokara.tag_list.each do |tag_name|
          %span.tag= link_to(tag_name, search_pasokaras_path)
      %hr
      %h3 動画情報
      %div{:id => "info-list-#{pasokara.id}", :class => "info_list"}
        %div{:class => ["thumb", "clearfix"]}
          = image_tag(thumb_pasokara_path(pasokara.id), :size => "160x120", :class => "thumb")
        %div{:class => ["nico_info", "clearfix"]}
          %span.info_key> ニコニコID:
          %span.info_value>= link_to(pasokara.nico_name, pasokara.nico_url) if pasokara.nico_name
          %br
          %span.info_key> 投稿日:
          %span.info_value>= pasokara.nico_post_str
          %br
          %span.info_key> 再生数:
          %span.info_value>= number_with_delimiter(pasokara.nico_view_counter)
          %br
          %span.info_key> コメント数:
          %span.info_value>= number_with_delimiter(pasokara.nico_comment_num)
          %br
          %span.info_key> マイリスト数:
          %span.info_value>= number_with_delimiter(pasokara.nico_mylist_counter)
          %br

        - if current_user && current_user.favorite_ids.include?(pasokara.id)
          = link_to "お気に入りから削除する", remove_favorite_pasokara_path(pasokara), :remote => true, :confirm => "#{pasokara.name}を#{current_user.nickname}のお気に入りから削除しますか？", :style => "color: red;"
