!!! 5
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    - if request.iphone?
      %meta{:content => "width=800, initial-scale=0.4", :name => "viewport"}/
    - elsif request.ipad?
      %meta{:content => "width=800, initial-scale=1.0", :name => "viewport"}/
    %title Pasokara Player
    :javascript
      $(document).ready(function() {
        $("img.thumb").lazyload({
          effect : "fadeIn"
        });

        $('div.title a.queue_link').linkwrapper();
        $('li.queue a').linkwrapper();

        $('#site_title').FontEffect({
           mirror: true,
           mirrorColor: "#FFFFFF",
           mirrorOffset: -15,
           mirrorHeight: 70,
           gradient: true,
           gradientFromTop: true,
           gradientColor: "#AAA",
           gradientPosition: 20,
           gradientLength: 50,
           gradientSteps: 20
        });
      });
  %body
    %header
    %h1#site_title
      %span> P
      asokara Player
    #user_info
      %span.login_user= "現在のログインユーザー: " + current_user.nickname if current_user
      = link_to("ユーザー切り替え", new_user_session_path, :class => "user_link") + ":"
      = link_to("ユーザー作成", new_user_registration_path, :class => "user_link") if current_user && current_user.name != "guest"
      .clearfix
    - if flash[:notice]
      .notification= flash[:notice]
    - if flash[:error]
      .error_notification= flash[:error]
    - if flash[:alert]
      .error_notification= flash[:alert]
    #main
      = render 'layouts/search_header'
      %article
      = yield
      %hr
      %footer
        &copy; Tomohiro Hashidate
