<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="noindex,nofollow">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag("jquery.min") %>
  <%= javascript_include_tag("jquery_ujs") %>
  <%= javascript_include_tag("jquery.lazyload.mini.js") %>
  <%= javascript_include_tag("jquery-fonteffect-1.0.0.min.js") %>
  <%= javascript_include_tag("jquery.linkwrapper-1.0.3.js") %>
  <%= csrf_meta_tag %>
  <% if request.mobile %>
    <% if request.mobile.iphone? %>
      <meta name="viewport" content="width=640, initial-scale=0.5">
    <% elsif request.mobile.ipad? %>
      <meta name="viewport" content="width=640, initial-scale=1.0">
    <% end %>
  <% end %>

  <title>Pasokara Player</title>
  <script type="text/javascript">
    $(document).ready(function() {
      $("img.thumb").lazyload({
        placeholder : "/images/gray.gif",
        effect : "fadeIn"
      });

      $('div.title a.queue_link').linkwrapper();
      $('li.queue a').linkwrapper();

      $('#site_title').FontEffect({
         mirror: true,
         mirrorColor: "#FFFFFF",
         mirrorOffset: -15,
         mirrorHeight: 70,
         gradient: true,
         gradientFromTop: true,
         gradientColor: "#AAA",
         gradientPosition: 20,
         gradientLength: 50,
         gradientSteps: 20
      });
    });
  </script>
</head>
<body>
  <header>
  <h1 id="site_title"><span>P</span>asokara Player</h1>
  <div id="user_info"><%# content_tag(:span, "現在のログインユーザー: " + current_user.name, :class => "login_user") if current_user %><%# link_to("ユーザー切り替え", login_path, :class => "user_link") %> : <%# link_to("ユーザー作成", new_user_path, :class => "user_link") if current_user && current_user.login != "guest" %><div class="clearfix"></div></div>

  <% if flash[:notice] -%>
    <div class="notification"><%= flash[:notice] %></div>
  <% end -%>
  <% if flash[:error] -%>
    <div class="error_notification"><%= flash[:error] %></div>
  <% end -%>
  </header>
  <div id="main">
    <%= render 'layouts/search_header' %>

    <article>
      <%= yield %>
    </article>

  </div>
</body>
</html>
